/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
/*  */
@font-face {
    font-family: "Gilroy Regular";
    src:url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Semi";
    src:url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Medium";
    src:url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Galien";
    src:url('../fonts/Galien-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
}

body{
    color: #1F3F68;
    margin: 0 auto;

}

.html, body {
    height: 100%;
    width: 100%;

}

.container{
    max-width: 976px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.header {
    height: 129px;
    width: 100%;
}
.header__content {
    margin-top: 70px;
    height: 652px;
    background: url("../img/icons/bemrich.svg") no-repeat bottom center / cover;
}

.header__shreder{
    display: flex;
    justify-content: center;
}
#menu__toggle {
	opacity: 0;
 }
 
#menu__toggle:checked ~ .menu__btn > span {
    
	transform: rotate(45deg);
	background-color: #fff;
   

}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: -290px;
    left: 290px;
	transform: rotate(0);
	background-color: #fff;
    position: relative;
    z-index: 1;

}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: -290px;
    left: 290px;
	transform: rotate(90deg);
	background-color: #fff;
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
}
 
.menu__btn {
	display: flex;
	/* align-items: center; */
	position: relative;
	top:-5px;
	 
	width: 24px;
	height: 16px;
 
	cursor: pointer;
	z-index: 4;
}
 
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
 
	width: 100%;
	height: 3px;
 
	background-color: #356EAD;
 
	transition-duration: .25s;
 }
.menu__btn > span::before {
	content: '';
	top: -7px;
 }
.menu__btn > span::after {
	content: '';
	top: 7px;
 }
 
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: -100%;
	width: 394px;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 80px 50px;
	list-style: none;
	background: #5A98D0;
	border-radius: 50px 0px 0px 0px;
	font-family: 'Gilroy Semi';
	font-size: 20px;
    font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	width: 600;
	transition-duration: .25s;
    z-index: 2;
 }
 .menu__li{
	margin-top: 20px;
 }

 .menu__li:hover{
 }
.menu__ul{
	margin-block-start: 8px;
	padding-inline-start: 0px;
}

.menu__list{
    width: 100px;
    font-family: "Gilroy Semi";
	list-style-type:none ;
	list-style-position: inside;
    font-size: 20px;
    margin-bottom:20px ;

}
.menu__link{
	font-family: 'Gilroy Semi';
	font-size: 16px;
	line-height: 42px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
   background-position: 0% 100%;
   background-repeat: no-repeat;
   background-size: 0% 1px;
   transition: background-size .3s;
}
.menu__link:hover{
	background-size: 100% 1px;
    padding: 10px 0px 10px 10px;

 }
.menu__arrow{
	margin-left: 8px;
	margin-bottom: 4px;
	transform: rotate(180deg);
	transition: 0.3s;
}
details[open] > summary > .menu__arrow {
	transform: rotate(360deg);
}

.menu__list::after{
    content: "";
    position: absolute;
    border: 8px solid;
    border-color: transparent transparent transparent #eee;
    top:0.50em;
    right: -1.4em;
    transform: rotate(90deg);
}

.menu__list:hover::after{
    transform: rotate(270deg);
    top:0.1em;
    transition: all 0.7s;

   

}
.menu__marker{
	display: block;
}

.menu__list:hover {
    font-weight: 400;

}

.menu__item-sub:hover {
    padding: 10px 0px 10px 20px;
    opacity: 0.9;

}

.menu__list{
    position: relative;
}
.pos{
    /* width: 200px; */
}
.menu a{

    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #666;
    transition: 0.5s all;
}

.menu__drop{
    font-family: "Gilroy Regular";
	font-size: 2px;
    position: absolute;
    width: 100%;
    top:-9999em;
    opacity: 0;
    transition: 0.5s opacity;

}


.menu__item a{
    font-size: 16px;
    line-height: 26px;

}
.menu__list a:hover .menu__item-sub{
    font-size: 16px;
    line-height: 26px;

}

.menu__list a{
	font-size: 20px;
	color: #fff;

}


.menu__item {
	display: block;
	padding: 7px 0px;
    width: 200px;
    color: #FFFFFF;

 
    font-family: "Gilroy Regular";
	font-size: 16px;
    line-height: 26px;
 
	text-decoration: none;
 
	transition-duration: .25s;
}


.menu__list:hover .menu__drop{
    position: static;
    padding: 15px 0px 0px 0px;
    opacity: 1;
    top: 0;
}

.menu__item-sub{
    font-size: 1px;
}
.logo{
    position: relative;
   z-index: 1;
}

.nav{
    /* padding: 0px 83px 0px 83px; */
}

.navigation{
    top: 0;
    z-index: 2;
    display: flex;
    /* width:1200px; */
    height: 48px;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;

} 

.navigation header{
   /* padding: 48px 0px 0px 83px; */

}

.header{
    /* display: flex; */
   /* padding: 48px 0px 0px 83px; */
}
.nav .li{

    justify-content:space-between;

}



.logos{
    position: relative;
    left: 50px;
}

.logos:hover{
    
    transition: margin-right 2s;
}


.burger{
    padding: 8px 0px 0px 0px;
}


.mainblock__title{
    font-family: 'Galien';
    display: block;
    width: 515px;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
}

.mainblock__subtitle{
    position: relative;
    padding: 32px 0px 0px 0px ;
    opacity: 0.6;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    font-family: "Gilroy Regular";


}

.mainblock__button{
    font-family: "Gilroy Regular";

    display: inline-block;
	margin: 71px 0px 0px 0px;
	color: rgb(255, 255, 255);
	letter-spacing: 2.8px;
	text-transform: capitalize;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	-webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	filter: drop-shadow(0px -1px 2px #5A98D0);
	background: #5A98D0;;
	border-radius: 10px;
    height: 56px;
	padding: 15px 48px;
    color: #fff;

}

.mainblock__button:hover{
    background-color: #74b6f0;
	transition:background-color 0.5s;
    transition: 0.5s;
}

.mainblock__button:active{
    position: relative;
	top: 3px;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	-webkit-box-shadow:5px 10px 20px rgba(53, 110, 173, 0.2);
}

.button{
    color: #fff;
    font-family: "Gilroy Regular";

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.06em;
    font-weight: normal;

}

.header__nav{
    display: flex;
    justify-content: space-between;
    padding-top: 39px;
    align-items: center;
}

.header__icon{
    width: 554px;
    height: 481px;
    margin-left: 82px;
    animation-delay: .8s;
} 

.header__image{
    width: 100%;
}


.client {
  margin-top: 192px;

}

.supa{
    display: flex;
}
.client__subtitle {
    font-family: "Gilroy Semi";

    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #1F3F68;
}

.client__title {
    font-family: "Gilroy Semi";
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 40px;
    color: #316099;
    font-style: normal;
    display: block;
}
.bich__please{
    display: flex;
}
.client__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

.client__item--left{
   position: relative;
    right: 460px;
    top: -320px;
}

.client__item:last-child{
    margin-top: -650px;
}

.client__item {
    width: 380px;
    min-height: 525px;
    flex:1;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin: 0px 0px 100px 0px;

}
.client__item:hover {
    box-shadow: 13px 25px 80px rgba(17, 141, 224, 0.456);
	transition: 0.8s;

}



/* .client__item::before{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
} */

.client__image{
    
position: relative;
padding: 0px 78px 0px 0px;

}


.client__link {
    padding: 0px 0px 0px 48px;
}
.client__text {
    padding: 16px 0px 0px 0px;
    font-family: "Gilroy Regular";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    font-style: normal;
    opacity: 0.6;
}

.client__button{
    margin: 32px 0px 0px 0px;

}
.btn {
    margin: 32px 0px 0px 0px;
    color: #5A98D0;
    font-family:"Gilroy";
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;
    font-style: medium;
    font-weight: 600;
}

.btn span{
	padding: 0px 40px 0px 0px;
    font-family: "Gilroy Semi";
	background: url('../img/icons/Vector.svg') right no-repeat;
}

.btn span:hover{
    padding: 0px 120px 0px 0px;
    transition: all 0.5s ease-out;
    
}

.client__image--poz{
    display: flex;
    justify-content: end;
    position: relative;
    padding: 48px 124px 50px 0px;
}

.client__image--poz1{
    display: flex;
    justify-content: end;
    position: relative;
    margin: -20px 0px 50px 320px;
}

.containers{
    max-width: 976px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.container{
    max-width: 976px;
    padding: 0 15px;
    margin: 0 auto;
    
}

.home__title {
    display: flex;
    padding: 0px 0px 96px 0px;
}

.home__title--main {
    font-family: "Gilroy Semi";
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
}

.home__title--text {
    font-family: "Gilroy Regular";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    opacity: 0.6;
    padding: 0px 0px 0px 76px;
}

.home__screen {
    /* display: flex; */
    /* flex-direction: column; */
    max-width: 940px;
    min-height: 417px;
    position: relative;
}

.home__block {
    margin: 90px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.home__screen__words {
    position: absolute;
    top:10%;
    left: 60%;
    padding: 0px 0px 0px 25px;
}

.home__screen--title {
    font-family: "Gilroy Medium";
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #fff;
}

.home__screen--subtitle {
    font-family: "Gilroy Regular";
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
    opacity: 0.8;
    text-align: right;
}


.home__squads__words {
    position: absolute;
    padding: 24px 0px 0px 25px;
}
.home__squad {
    padding: 0px 0px 192px 0px;
}

.home__anim:hover{
    border-radius: 15px;
    padding: 9px 0px 9px 9px;
    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	-webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	/* filter: drop-shadow(0px -1px 2px #5A98D0); */
    /* transform: scale(1.1); */
    transition: all 0.7s ease-out;
}


.home__squad--subtitle {
    text-align: left;
    font-weight: 400;
    font-family: "Gilroy Regular";

}

.footer__title{
    padding: 96px 0px 111px 0px;
    color: #fff;
}

.footer__box{
    position: relative;
    top: 91px;
    background: #5A98D0;
    border-radius: 200px 0px 0px 0px;
}

.footer__table{
    margin: 0px 0px 125px 0px;
    font-family: "Gilroy Semi";
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #fff;

}

table{
    width: 100%;
    max-width: 940px;
    max-height: 940px;
    width: 100%;
    margin: 0 auto;
    border-spacing: 100px 200px;
}

table{
    border-collapse: separate;
   border-spacing: 0;
   width: 100%;
}



th {
    padding: 41px 10px;
    border-style: none;
    border-top: none; 
    border-top: none;
    border-left: 1px solid rgb(255, 255, 255);
    

}



td {
    /* position: relative;
    border-right: none; 
     border-style: none; 
     border-bottom:solid white 1px; */

  }



tr:hover td {
    /* background: #99bcff; */
  }

.td{
    padding: 41px 46px;

}
td:hover  {
    transition: 0.5s;
    background: rgba(31, 31, 91, 0.1);
 }
th:hover  {
    transition: 0.5s;

    background: rgba(51, 51, 153, .1);
 }

 .under__box{
    display: flex;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
}
.sub__footer{
    padding: 0px 0px 97px 0px;
    background: #316099;

}
.hr-multiline {
    margin: 0px 0;
	height: 1;
	border: none;
	border-top: 1px solid rgb(255, 255, 255);
    opacity: 0.4;
    width: 1073px;
}

.block__row{
    font-family: Gilroy;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
}

.block__title{
    font-family: "Gilroy Semi";
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    margin: -5px 0px 33px 16px;

}

.block__logo{
    display: flex;
}

.block__list{
    padding: 100px 0px 0px 0px;
}

.block__main{
    display: flex;
}

.rowblock span{
    padding: 0px 16px 0px 0px ;
    font-family: "Gilroy Semi";
    color: #fff;


}

.rowblock{
    color: #fff;
    padding: 16px 0px 0px 0px;
}

.rowblock:first-child{
    padding: 0px 0px 0px 0px;
}

.block__row{
    text-decoration: none;
    margin: 0px 120px -30px 0px;
    font-family: "Gilroy Regular";
}

.rowblock--bold{
    padding: 0px 0px 32px 0px ;
    font-family: "Gilroy Semi";
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.05em;
    font-weight: 700;
    font-style: regular;

}
.blanket{

    background: #316099;
    
}
.brih{
    display: flex;
}

.home__title-under {
    display: flex;
    padding: 91px 0px 96px 0px;
    flex-direction: column;
}

.under__goned{
}

.under__text {
    font-family: "Gilroy Regular";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    opacity: 0.6;
    padding: 32px 0px 0px 0px;
}
.under__aliense{
    display: flex;
    margin-right: 185px;
}
.under__button {
    margin: 150px 0px 0px 0px;
    width: 220px;
    height: 56px;
    text-align: center;
}

.foot__container{
    position: relative;
    margin:30px 197px 0px 0px;
    
}

.sub__footer{
    padding: 0px 0px 97px 0px;
    background: #316099;

}
.hr-multiline {
    margin: 0px 0;
	height: 1;
	border: none;
	border-top: 1px solid rgb(255, 255, 255);
    width: 1073px;
    opacity: 0.4;
}

.block__row{
    font-family: Gilroy;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
}

.block__title{
    font-family: "Gilroy Semi";
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    margin: -5px 0px 33px 16px;

}

.block__logo{
    display: flex;
}

.block__main{
    display: flex;
}

.rowblock span{
    padding: 0px 16px 0px 0px ;
    font-family: "Gilroy Semi";

}

.rowblock{
    color: #fff;
    padding: 16px 0px 0px 0px;
}

.rowblock:nth-last-child(){
    padding: 0px 0px 0px 0px;
}

.block__row{
    margin: 0px 120px -30px 0px;
    font-family: "Gilroy Regular";
}

.rowblock--bold{
    padding: 0px 0px 32px 0px ;
    font-family: "Gilroy Semi";
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.05em;
    font-weight: 700;
    font-style: regular;
}

.step{
    position: relative;
    top:-80px;
}

.block__main--last{
    font-family: "Gilroy Regular";
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #fff;
    opacity: 0.4;

}